@font-face {
  font-family: forzaFont;
  src: url(./assets/Berthold%20Akzidenz%20Grotesk%20Extended.otf);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  font-family: forzaFont;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}